<div class="container" style="margin-top:70px;">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Lista de Productos</h3>

        <div style="padding: 10px;">
            <button class="btn btn-danger"><a class="nav-link link-light" aria-current="page" href="/producto/add">Agregar Producto</a></button>
        </div>

        {{#if registros}}
        <table class="table text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="col-4">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoría</th>         
                    <th scope="col">cantidad_comprada</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each registros}}
                <tr>
                    <td>{{nombre_producto}}</td>
                    <td>{{precio}}</td>
                    <td>{{nombre_categoria}}</td>
                    <td>{{cantidad_comprada}}</td>
                    <td>
                        <div class="">
                            <a href="/producto/edit/{{id_producto}}" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i> Actualizar</a>
                            <a href="/producto/delete/{{id_producto}}" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i> Eliminar</a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr class="table-dark">
                    <td colspan="4">REGISTRO DE PRODUCTOS</td>
                </tr>
            </tfoot>
        </table>
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>No hay productos registrados</h3>
            </div>
            <div class="card-body">
                <p>No hay productos registrados en la aplicación.</p>
                <a href="/producto/add" class="btn btn-primary">Agregar Producto</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>
